<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Posts</title>
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

	<section>
		<nav>
			<div class="row">
				<img src="/img/images/farmerlogo.svg" alt="logo" class="logo">
				<ul class="main-nav" id="myTopnav">
					<li class="nav-link"><a href="/welcome2">Home</a></li> 
					<li class="nav-link"><a href="#">Posts </a>
						<ul>
							<li class="nav-sub"><a href="/postproduce">Post Produce</a> </li>
							<li class="nav-sub"><a href="/myposts">My Posts</a> </li>
						</ul>
					</li>
					<li class="nav-link"><a href="#">Requests </a>
						<ul>
							<li class="nav-sub"><a href="/requests">Buyer's Requests</a> </li>
						</ul>
					</li>
					<li class="nav-link"><a href="#">Transport </a>
						<ul>
							<li class="nav-sub"><a href="/transports2">Available Transport</a> </li>
							<li class="nav-sub"><a href="/requestTransport2">Request Transport</a></li>
							<li class="nav-sub"><a href="/viewTransport4">My Requests</a></li>
						</ul>
					</li>
					<li class="nav-link"><a href="#">Storage </a>
						<ul>
							<li class="nav-sub"><a href="/storages">Available Storage</a> </li>
							<li class="nav-sub"><a href="/requeststorage">Request Storage</a></li>
							<li class="nav-sub"><a href="/mystorage2">My Requests</a></li>
						</ul>
					</li>
					
					<li class="nav-link"><a href="#">Account</a></li>
					<li class="nav-link"><a href="/logout">LogOut</a></li>
					<a href="javascript:void(0);" class="hambaga" onclick="myFunction()">
						<img src="images/menu.svg" alt="">
					</a>
				</ul>
			</div>
		</nav>
		
		
		<h1>My Posts</h1>
		
		<div class="table-hd">
		
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Type of Produce</th>
						<th>Amount in kgs</th>
						<th>Date of Harvest</th>
						<th>Price</th>
					</tr>
				</thead>
			</table>
		
		</div>
		
		<div class="table-cnt">
		
			<table>
		
				<tr>
					<% if(items.length!=0){ var i=1; var x; items.forEach(function(rows){ %>
						<td>
							<%=i; %>
						</td>
						<td>
							<%=rows.produceName %>
						</td>
						<td name="amount">
							<%=rows.amountAvailable %>
						</td>
						<td>
							<%= moment(rows.dateOfHarvest).format('DD/MM/YYYY') %>
						</td>
						<td >
							<%=rows.pricePerKg %>
						</td>
				</tr>
		
				<% i++; }) %>
					<% } else{ %>
						<tr>
							<td colspan="7">No Data Found</td>
						</tr>
						<% } %>
		
			</table>
		
		</div>
	</section>
	</body>
	</html>

