<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Posts</title>
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="navbar">
		<h3 class="logo">FarmersConnect</h3>

		<ul class="header">
			<li>Home</li>
			<li>Posts</li>
			<li>About</li>
			<li>Market</li>
			<li>Account</li>
		</ul>
	</div>

	<section>
		<div class="content">
			<table>
				<tr>
					<th></th>
					<th>Type of Produce</th>
					<th>Amount(kgs)</th>
					<th>Price</th>
					<th>Date harvested</th>
					<th>Farmer Contact</th>
					<th></th>
				</tr>
	
				<%
				if(items.length!=0){
				var i=1;
				items.forEach(function(rows){
				%>
				<tr>
					<td><%=i; %></td>
					<td name="postName"><%=rows.produceName %></td>
					<td name="amount"><%=rows.amountAvailable %></td>
					<td name="price"><%=rows.pricePerKg %></td>
					<td><%= moment(rows.dateOfHarvest).format('DD/MM/YYYY') %></td>
					<td><a href="#"><%=rows.farmerID %></a></td>
					<td><button name="request" id="request">Request</button></td>
					<td hidden name="postID"><%=rows.postID %></td>
				</tr>
				<%  i++; }) %>
				<% } else{ %>
					<tr>
						<td colspan="7">No Data Found</td>
					</tr>
					<% } %>
	
			</table>
		</div>
	</section>
	
	<script type="text/javascript" src="/js/posts.js"></script>
</body>
</html>